@{

    ViewBag.Title = "Index";

}

<h2>Index</h2>

<h2>Generate HyperLinks</h2>

<table>

    <tr>

        <td>@Html.ActionLink("Mainpage", "Index")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Home page", "Home")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("Contactus page", "Contactus")</td>

    </tr>

    <tr>

        <td>@Html.ActionLink("About page", "About")</td>

    </tr>
    <tr>
        <td><a href="https://github.com/bibhas05041984">Git_Hub_Link_Bibhas</a></td>
    </tr>
    <tr>
        <td><a href="https://github.com/lhinderliterzamora">Git_Hub_Link_lhinderliterzamora</a></td>
    </tr>
</table>